header {
  padding: 15px;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  color: white;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle {
  position: relative;
}

.theme-switch {
  display: none;
}

.theme-switch-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.theme-icon {
  font-size: 20px;
  margin: 0 5px;
}

.theme-icon.moon {
  opacity: 1;
}

.theme-icon.sun {
  opacity: 1;
}

body.dark-mode .theme-icon.moon {
  opacity: 1;
}

body.dark-mode .theme-icon.sun {
  opacity: 0.3;
}



@media screen and (max-height: 500px) {
  .chat-container {
    flex-direction: row;
    max-height: 500px;
  }

  header {
    width: 200px;
    height: 100%;
  }

  .chat-interface {
    flex-grow: 1;
  }
}
