.themeToggle {
  position: relative;
}

.themeSwitch {
  display: none;
}

.themeSwitchLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.themeIcon {
  font-size: 20px;
  margin: 0 5px;
}

.themeIcon.moon {
  opacity: 1;
}

.theme-Icon.sun {
  opacity: 1;
}

body.darkMode .themeIcon.moon {
  opacity: 1;
}

body.darkMode .themeIcon.sun {
  opacity: 0.3;
}