.themeToggle {
  position: relative;
}

/* .theme-switch {
  display: none;
} */

.theme-switch-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.themeIcon {
  /* font-size: 20px; */
  /* margin: 0 5px; */
  /* Increase svg icon size */
  width: 20px;
  height: 20px;
  opacity: 1;
}

/* .themeIcon.moon {
  opacity: 1;
}

.themeIcon.sun {
  opacity: 1;
}

[data-theme="dark"] .theme-icon.moon {
  opacity: 1;
}

[data-theme="dark"] .theme-icon.sun {
  opacity: 0.3;
} */
